@import url('https://fonts.googleapis.com/css2?family=Montserrat');

:root {
  --color-main: #810000;
  --color-secondary-1: #ec8f00;
  --color-secondary-2: #420e07;
  --color-secondary-3: #002907;
  --color-secondary-4: #292929;
}

body {
  margin: 0;
}

.container {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: 0 auto;
}

/* Estilos del nav bar */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);
  height: 96px;
}

.nav__logo {
  color: #fff;
  display: block;
  text-decoration: none;
  margin-left: 10px;
  font-size: 36px;
}

.nav__items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: 0;
  font-size: 24px;
}

.nav__items li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 100%;
  transition-duration: 500ms;
}

.nav__items li:hover {
  background-color: var(--color-secondary-2);
}

.nav__items li a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/* pagepresentation */
.presentation__wrapper {
  background-image:
    linear-gradient(180deg,rgba(56,216,255,0) 0%, rgb(255, 255, 255) 100%),
    url(../img/library-home.jpg);
  height: 384px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.presentation__title {
  color: #ffffff;
  font-size: 48px;
}

.presentation__text {
  color: #000000;
  font-size: 18px;
}

/* books list */
.list__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.list__item {
  display: flex;
  min-height: 256px;
  align-items: center;
  border: 1px var(--color-secondary-2) solid;
  border-radius: 36px;
  margin: 12px 0;
}

.item__img {
  height: 128px;
  width: 128px;
  margin: 24px;
  display: flex;
  align-items: center;
  border: 1px var(--color-secondary-2) solid;
  border-radius: 50%;
}

.item__read-more {
  color: var(--color-secondary-3);
  text-decoration: none;
  font-size: 12px;
}

.item__read-more:hover {
  color: var(--color-secondary-1);
}

.item__img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.item__info {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  max-width: 80%;
}

/* Sign up form */

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #000000 solid 1px;
  width: 50%;
  margin: 24px auto;
  padding: 36px 0;
  min-height: calc(100vh - 96px - 48px);
  box-sizing: border-box;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up__item {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.sign-up__input {
  margin: 8px 0;
  padding: 4px 8px;
  border: none;
  border-bottom: #000000 solid 1px;
}

.sign-up__input:focus {
  outline: none;
  border-color: var(--color-main);
}

.sign-up__button {
  background-color: var(--color-main);
  border: none;
  border-radius: 16px;
  width: 80%;
  padding: 12px 0;
  cursor: pointer;
  color: white;
  transition-duration: 250ms;
}

.sign-up__button:hover {
  background-color: var(--color-secondary-1);
  color: #000000;
}

.sign-up__button:active {
  outline: none;
}
